h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    text-align: center;
}

.my-h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

body {
    background-color: aqua;
}

.txt-highlight {
    background-color: orange;
}

:invalid {
    background-color: blueviolet;
}
:required {
    border-color: aqua;
    border-width: 3px;
}
:valid {
    border-color: bisque ;
    border-width: 1px;
}

a {
    color: black;
}
 
a:hover {
    color: blue;
    font-size: large;
    background-color: bisque;
}
a:visited {
    color:red;
    font-size: small;
}

/* someclass:invalid {

}*/


